<layout-geral>
  <mat-toolbar layout-geral-cabecalho color="primary">
    <a mat-icon-button style="margin-right:5px" matTooltip="Volta para a gestão do evento" routerLink="../">
      <span class="fas fa-arrow-left"></span>
    </a>
    <span class="fas fa-bed" style="margin-right:10px"></span>
    <span class="cursor-pointer">Divisão de Quartos</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-button (click)="clicarAtualizar()" matTooltip="Atualiza as informações de divisão da tela">
      <i class="fas fa-sync"></i>
      Atualizar
    </button>
    <button mat-button (click)="clicarDividir()" matTooltip="Realiza a divisão automática dos quartos">
      <i class="fas fa-divide"></i>
      Dividir
    </button>
    <button mat-button (click)="clicarRemover()" matTooltip="Remove todas as divisões realizadas">
      <span class="fa fa-trash-alt"></span>
      Remover
    </button>
    <button mat-button (click)="clicarImprimir()" matTooltip="Gera um relatório com as divisões atuais">
      <i class="fas fa-print"></i>
      Imprimir
    </button>
  </mat-toolbar>
  <div fxLayout="row" fxLayoutGap="5px" fxFill>
    <div fxFlex="35" class="cartao">
      <layout-geral>
        <div layout-geral-cabecalho>
          <h2>Inscrições sem Quarto</h2>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="inscricoesNaoDistribuidas == null || inscricoesNaoDistribuidas.Participantes?.length == 0"
             fxFill
             fxLayout="column" fxLayoutAlign="center center">
          <i class="fas fa-check-double fa-5x"></i>
          <h1>Não há inscrições aqui!!</h1>
        </div>
        <dx-list *ngIf="inscricoesNaoDistribuidas?.Participantes?.length > 0"
                 class="padding-padrao"
                 fxFill
                 [dataSource]="inscricoesNaoDistribuidas.Participantes"
                 noDataText="Não encontrei ninguém!!"
                 [searchEnabled]="true"
                 searchExpr="NomeInscrito"
                 searchMode="contains">
          <div *dxTemplate="let data of 'item'">
            <div fxLayout="row">
              <div fxLayout="column">
                <div *ngIf="data.Tipo=='Infantil'" style="background-color:blueviolet; color:white">Infantil</div>
                <div>{{data.NomeInscrito + ' - ' + calcularIdade(data) + ' ano(s)'}}</div>
                <div>{{data.Cidade + '/' + data.UF}}</div>
                <div *ngIf="data.Tipo=='Infantil'">
                  <strong>Responsáveis:</strong>
                  {{gerarTextoResponsaveis(data)}}
                </div>
              </div>
              <span style="flex: 1 1 auto;"></span>
              <button mat-icon-button [matMenuTriggerFor]="menuInclusaoQuarto" matTooltip="Você pode incluir este participante em uma dos quartos do evento"
                      [matMenuTriggerData]="{inscricao: data}">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </dx-list>
        <mat-menu #menuInclusaoQuarto="matMenu">
          <ng-template matMenuContent let-inscricao="inscricao">
            <button mat-menu-item *ngFor="let divisao of divisoesQuartos" (click)="clicarIncluirNoQuarto({ inscricao: inscricao, quarto: divisao })">
              <strong>{{divisao.Nome}}</strong>{{' - Pessoas: ' + (divisao.Participantes.length + divisao.Coordenadores.length)}}
            </button>
          </ng-template>
        </mat-menu>
      </layout-geral>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <layout-geral fxFlex="65" class="cartao"> 
      <div layout-geral-cabecalho class="borda-arredondada margem-total-2px padding-padrao" fxLayout="row">
        <div fxLayout="column">
          <h2><strong>Quarto:&nbsp;{{divisaoSelecionada?.Nome || 'Nenhum Quarto foi selecionado'}}</strong></h2>
          <div>Pessoas: {{divisaoSelecionada == null ? ' -' : ' ' + (divisaoSelecionada?.Participantes.length + divisaoSelecionada.Coordenadores.length)}}</div>
          <div>Capacidade: {{divisaoSelecionada == null ? ' -' : ' ' + divisaoSelecionada?.Capacidade}}</div>
          <div>Sexo: {{divisaoSelecionada == null ? ' -' : ' ' + sexos[divisaoSelecionada?.Sexo]}}</div>
        </div>
        <span style="flex: 1 1 auto;"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Permite selecionar um quarto para visualizar e editar a divisão realizada">
          <i class="fas fa-ellipsis-v"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let divisao of divisoesQuartos" (click)="clicarSelecionarQuarto(divisao)">
            <strong>{{divisao.Nome}}</strong>{{' - Pessoas: ' + (divisao.Participantes.length + divisao.Coordenadores.length)}}
          </button>
        </mat-menu>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" fxFill>
        <div fxFlex="50" class="borda-arredondada">
          <layout-geral>
            <div layout-geral-cabecalho>
              <h2>Participantes {{divisaoSelecionada?.Participantes?.length}}</h2>
              <mat-divider></mat-divider>
            </div>
            <dx-list class="padding-padrao"
                     fxFill
                     [dataSource]="divisaoSelecionada?.Participantes"
                     noDataText="Não há ninguém aqui!!"
                     [searchEnabled]="true"
                     searchExpr="NomeInscrito"
                     searchMode="contains">
              <div *dxTemplate="let data of 'item'">
                <div fxLayout="row">
                  <div fxLayout="column">
                    <div *ngIf="data.Tipo=='Infantil'" style="background-color:blueviolet; color:white">Infantil</div>
                    <div>{{data.NomeInscrito + ' - ' + calcularIdade(data) + ' ano(s)'}}</div>
                    <div>{{data.Cidade + '/' + data.UF}}</div>
                    <div *ngIf="data.Tipo=='Infantil'"><strong>Responsáveis:</strong>
                      {{gerarTextoResponsaveis(data)}}
                    </div>
                  </div>
                  <span style="flex: 1 1 auto;"></span>
                  <button mat-icon-button matTooltip="Você pode remover este participante deste quarto" (click)="clicarRemoverDoQuarto(data)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button mat-icon-button matTooltip="Você pode torná-lo coordenador do quarto" (click)="clicarTornarCoordenador(data)">
                    <i class="fas fa-thumbtack"></i>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]="menuMovimentacaoQuarto" matTooltip="Você pode mover este participante para outra quarto"
                          [matMenuTriggerData]="{inscricao: data}">
                    <i class="fas fa-exchange-alt"></i>
                  </button>
                </div>
              </div>
            </dx-list>
            <mat-menu #menuMovimentacaoQuarto="matMenu">
              <ng-template matMenuContent let-inscricao="inscricao">
                <button mat-menu-item *ngFor="let divisao of divisoesQuartos" (click)="clicarMoverParaQuarto({ inscricao: inscricao, quarto: divisao })" [fxHide]="divisao.Id == divisaoSelecionada?.Id">
                  <strong>{{divisao.Nome}}</strong>{{' - Pessoas: ' + (divisao.Participantes.length + divisao.Coordenadores.length)}}
                </button>
              </ng-template>
            </mat-menu>
          </layout-geral>
        </div>
        <div fxFlex="50" class="borda-arredondada" style="flex: 1">
          <layout-geral>
            <div layout-geral-cabecalho>
              <h2>Coordenadores {{ divisaoSelecionada?.Coordenadores?.length}}</h2>
              <mat-divider></mat-divider>
            </div>
            <dx-list class="padding-padrao"
                     fxFill
                     [dataSource]="divisaoSelecionada?.Coordenadores"
                     noDataText="Não há ninguém aqui!!"
                     [searchEnabled]="true"
                     searchExpr="NomeInscrito"
                     searchMode="contains">
              <div *dxTemplate="let data of 'item'">
                <div fxLayout="row">
                  <div fxLayout="column">
                    <div *ngIf="data.Tipo=='Infantil'" style="background-color:blueviolet; color:white">Infantil</div>
                    <div>{{data.NomeInscrito + ' - ' + calcularIdade(data) + ' ano(s)'}}</div>
                    <div>{{data.Cidade + '/' + data.UF}}</div>
                    <div *ngIf="data.Tipo=='Infantil'">
                      <strong>Responsáveis:</strong>
                      {{gerarTextoResponsaveis(data)}}
                    </div>
                  </div>
                  <span style="flex: 1 1 auto;"></span>
                  <button mat-icon-button matTooltip="Você pode remover este participante deste quarto" (click)="clicarRemoverDoQuarto(data)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button mat-icon-button matTooltip="Você pode tirá-lo da coordenação do quarto" (click)="clicarTirarCoordenador(data)">
                    <i class="fas fa-globe"></i>
                  </button>
                </div>
              </div>
            </dx-list>
          </layout-geral>
        </div>
      </div>
    </layout-geral>
  </div>
</layout-geral>
