<layout-geral>
  <mat-toolbar layout-geral-cabecalho color="accent">
    <span class="cursor-pointer">EventoWeb - Eventos</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-button (click)="clicarNovo()" style="margin-right:20px">
      <span class="fa fa-plus"></span>
      Novo
    </button>
    <menu-usuario></menu-usuario>
  </mat-toolbar>
  <layout-geral>
    <div fxFill fxLayout="column" fxLayoutAlign="center center" *ngIf="eventos == null || eventos.length == 0">
      <span class="fa fa-plus fa-5x"></span>
      <h1>Não há nenhum evento cadastrado!!</h1>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="5px" fxLayoutGap="5px" class="listagem">
      <div fxFlex="20" fxFlex.xs="100" fxLayout="column" class="item-evento" *ngFor="let evento of eventos">
        <h2>{{evento.Nome}}</h2>
        <h3>
          Inscrições: {{evento.PeriodoInscricao.DataInicial | date:'shortDate'}} à {{evento.PeriodoInscricao.DataFinal | date:'shortDate'}}
        </h3>
        <img [src]="obterImagem(evento)" alt="Imagem do evento">
        <mat-divider></mat-divider>
        <a mat-button [routerLink]="'/evento/' + evento.Id">GERENCIAR</a>
        <button mat-button (click)="clicarExcluir(evento)">EXCLUIR</button>
      </div>
    </div>
  </layout-geral>
</layout-geral>
