.padding-padrao {
  padding: 5px;
}

.secao {
  font-weight: bold;
  font-size: 18px;
  font-family: "Roboto", "RobotoFallback", "Helvetica", "Arial", sans-serif;
}

button {
  height: 90px;
}

a {
  height: 90px;
}
