################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventoWeb.Nucleo/obj/Debug/netstandard2.0
/EventoWeb.Nucleo/obj
/EventoWeb.Nucleo/bin/Debug/netstandard2.0
/Secretaria/EventoWeb.WS.Secretaria/bin/Debug/netcoreapp2.1
/Secretaria/EventoWeb.WS.Secretaria/obj
/EventoWeb.BancoDados/bin/Debug/netcoreapp2.1
/EventoWeb.BancoDados/obj
/EventoWeb.WS.Inscricao/bin/Debug/netcoreapp2.1
/EventoWeb.WS.Inscricao/obj
/Secretaria/web-iu/node_modules
/EventoWeb.BancoDados/bin/Release/netcoreapp2.1
/EventoWeb.Nucleo/bin/Release/netstandard2.0
/EventoWeb.WS.Inscricao/bin/Release/netcoreapp2.1
/EventoWeb.WS.Inscricao/Properties/PublishProfiles
/Secretaria/EventoWeb.WS.Secretaria/bin/Release/netcoreapp2.1
/Secretaria/EventoWeb.WS.Secretaria/.config/dotnet-tools.json
/EventoWeb.WS.Relatorios/.gradle/
/EventoWeb.WS.Relatorios/build/
/Secretaria/EventoWeb.WS.Relatorios/target/
/Secretaria/Relatorios/target/
/Secretaria/WS.Relatorios/target/
/EventoWeb.Nucleo/bin
/Secretaria/EventoWeb.WS.Secretaria/bin
/EventoWeb.WS.Inscricao/bin
/EventoWeb.BancoDados/bin/Debug/net6.0
/MalaDireta/bin/Debug/net7.0
/MalaDireta/obj
/Secretaria/EventoWeb.WS.Secretaria/ClientApp/.angular/cache/17.0.8
