<div fxLayout="column" fxLayoutGap="5px">
  <div>
    <!--<p>
      Acima de 15 anos: R$ <strong>70,00</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; De 11 a 14 anos: R$ <strong>50,00</strong>
    </p>
    <p>
      De 04 a 10 anos: R$ <strong>40,00</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; De 0 a 03 anos: <strong>isento</strong>
    </p>-->
    <p><strong>Valor Inscrição:</strong> &nbsp; {{valorInscricao| currency:'BRL'}}</p>
    <p><button mat-raised-button (click)="clicarAbrirRegulamento()">Acesse o Regulamento</button></p>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <label class="label_campos" fxFlex="106px">Como será o Pagamento:</label>
      <dx-radio-group [items]="opcoes"
                      [(value)]="opcaoEscolhida"
                      layout="horizontal"
                      [disabled]="desabilitar">
      </dx-radio-group>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="label_campos" fxFlex="106px"></div>
    <div>
      <strong>Enviar Comprovante</strong> refere-se a quando você realizou o pagamento da sua inscrição ou a sua e mais outras. Nesse último caso detalhe no campo mais abaixo quais as pessoas e cidades que estão incluidas no comprovante.<br />
      <strong>Comprovante esta em outra inscrição</strong> se refere a situação em que a sua inscrição foi paga junto com outras e o comprovante será enviado em uma outra inscrição. Sendo assim nos informe o nome e a cidade da pessoa que enviará o comprovante no campo abaixo.<br />
      <strong>Outros</strong> é para dizer a secretaria que você pagará mais tarde, fez ou precisa de isenção, ou qualquer outra situação que não se enquadre nas duas primeiras formas.
    </div>
  </div>
  <div *ngIf="opcaoEscolhida == opcoes[0]" fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
    <label class="label_campos" fxFlex="106px">Comprovante (.jpg, .jpeg, .png, .pdf):</label>
    <input type="file"
           (change)="onFileSelected($event)"
           accept="image/jpg, image/jpeg, image/png, application/pdf"
           [disabled]="desabilitar"
           multiple />
  </div>
  <div *ngIf="opcaoEscolhida == opcoes[0]" fxLayout="row wrap" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="center center">
    <div *ngFor="let comprovante of arquivosComprovantes; let i = index">
      <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center" style="padding: 5px;">
        <i class="fas fa-tag fa-5x"></i>
        <span>Comprovante {{i + 1}}</span>
        <button type="button"
                mat-raised-button
                color="primary"
                (click)="abrirComprovante(comprovante.Arquivo)"
                [disabled]="desabilitar">
          Visualizar
        </button>
        <button type="button"
                mat-raised-button
                color="warn"
                (click)="clicarExcluirComprovante(comprovante)"
                [disabled]="desabilitar">
          Excluir
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="opcaoEscolhida != null">
    <p *ngIf="opcaoEscolhida == opcoes[0]">
      Nos informe se os comprovantes se referem a outras incrições que foram ou serão feitas. Também nos justifique se o valor do comprovante for diferente do esperado.
    </p>
    <p *ngIf="opcaoEscolhida == opcoes[1]">
      Nos informe o nome completo e a cidade da inscrição que terá o comprovante da sua inscrição.
    </p>
    <p *ngIf="opcaoEscolhida == opcoes[2]">
      Nos informe o que você precisa em relação a pagamento: se é desconto, pedido de insenção ou outra situação. Nos dê detalhes para podermos ajudar!!
    </p>
  </div>
  <dx-text-area *ngIf="opcaoEscolhida != null"
                [height]="180"
                [(value)]="observacoes"
                [disabled]="desabilitar">
  </dx-text-area>
</div>
