@use '@angular/material' as mat;
@import '@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

@include mat.core();

$web-iu-primary: mat.define-palette(mat.$green-palette, 700);
$web-iu-accent: mat.define-palette(mat.$green-palette, 900, A100, A400);
$web-iu-warn: mat.define-palette(mat.$red-palette, 600);

$web-iu-theme: mat.define-light-theme(
    ( color: (
        primary: $web-iu-primary,
        accent: $web-iu-accent,
        warn: $web-iu-warn),
    typography: mat.define-typography-config(),
    density: 0,
    )
);

@include mat.all-component-themes($web-iu-theme);

@include mat-datetimepicker-theme($web-iu-theme);

/* You can add global styles to this file, and also import other style files */
.mat-toolbar {
  height: 43px !important;
}

.mat-dialog-container {
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 13px}

.sistema {
  margin-left: 10px;
  line-height: 18px;
}

.margem-5px {
  margin: 5px;
}

.cartao {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  background: white;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 5px;
  margin-top: 5px;

  h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
  }

  h3 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    margin: 0px;
  }

  img {
    width: 100%;
    height: 257.8px;
  }
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-tab-body {
  display: flex !important;
  flex-direction: column;
}

.mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
