<div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center start">
  <div class="cartao margem-5px" fxLayout="column" fxFlex="48" fxFlex.sm="90" fxFlex.xs="100">
    <mat-card-title>Dados Inscrição</mat-card-title>
    <mat-divider></mat-divider>
    <ng-template [ngTemplateOutlet]="dadosPessoais"></ng-template>
  </div>
  <div class="cartao margem-5px" fxLayout="column" fxFlex="48" fxFlex.sm="90" fxFlex.xs="100"
       *ngIf="evento.ConfiguracaoOficinas != null || evento.ConfiguracaoSalaEstudo != null || evento.TemDepartamentalizacao || evento.ConfiguracaoTempoSarauMin != null">
    <mat-card-title>Participação em Atividades</mat-card-title>
    <mat-divider></mat-divider>
    <ng-template [ngTemplateOutlet]="participacaoAtividades"></ng-template>
  </div>
  <div class="cartao margem-5px" fxLayout="column" fxFlex="48" fxFlex.sm="90" fxFlex.xs="100">
    <mat-card-title>Informações sobre pagamentos</mat-card-title>
    <mat-divider></mat-divider>
    <ng-template [ngTemplateOutlet]="pagamentos"></ng-template>
  </div>
  <div class="cartao margem-5px" fxLayout="column" fxFlex="48" fxFlex.sm="90" fxFlex.xs="100">
    <mat-card-title>Outras informações</mat-card-title>
    <mat-divider></mat-divider>
    <ng-template [ngTemplateOutlet]="outrasInformacoes"></ng-template>
  </div>
</div>

<ng-template #dadosPessoais>
  <dx-validation-group id="grupoValidacaoEssencial" name="grupoValidacaoEssencial" #grupoValidacaoEssencial fxLayout="row" fxLayoutGap="5px" fxFill fxLayoutAlign="center start">
    <div class="margem-5px" fxFlex="100" fxLayout="column" fxLayoutGap="5px">
      <div fxLayout="column" fxLayoutGap="5px" fxLayoutGap.xs="5px">
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
          <label class="label_campos" fxFlex="106px">Tipo Inscrição:</label>
          <dx-radio-group [items]="dadosTela.TiposInscricao"
                          [(value)]="dadosTela.tipoInscricaoEscolhida"
                          layout="horizontal"
                          [disabled]="naoEhIncompleta">
            <dx-validator>
              <dxi-validation-rule type="required" message="Você não escolheu o tipo de inscrição."></dxi-validation-rule>
            </dx-validator>
          </dx-radio-group>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
          <div class="label_campos" fxFlex="106px"></div>
          <div>
            O Tipo de inscrição <strong>Participante</strong> se refere a toda pessoa que irá apenas participar do evento. Ela não tem nenhuma atividade de coordenação de salas ou oficinas, e não atua nas diversas equipes do evento, como música, cozinha, etc.
            <br />
            Já o tipo de inscrição <strong>Participante/Trabalhador</strong> se refere a pessoa que pode ser coordenadora de sala de estudo, oficina, departamento e/ou coordenador ou participante de uma das equipes do evento como a música, cozinha, etc.
            <br />
            Já o tipo de inscrição <strong>Trabalhador</strong> se refere a pessoa que pode que <strong>APENAS</strong> trabalhará no encontro nas equipes de organização como as de limpeza, cozinha, transporte, manutenção, etc.Não participará de salas de estudo, oficinas ou departamentos.
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
        <label class="label_campos" fxFlex="106px">Nome:</label>
        <dx-text-box [(value)]="dadosTela.nome" fxFlex="100" [disabled]="naoEhIncompleta" [maxLength]="150">
          <dx-validator>
            <dxi-validation-rule type="required" message="Você não informou o nome."></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
        <label class="label_campos" fxFlex="106px">Nome Crachá:</label>
        <dx-text-box [(value)]="dadosTela.nomeCracha" fxFlex="100" [disabled]="naoEhIncompleta" [maxLength]="150">
        </dx-text-box>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <label class="label_campos" fxFlex="106px">Nascimento:</label>
          <dx-date-box [(value)]="dadosTela.dataNascimento" type="date" [disabled]="naoEhIncompleta">
            <dx-validator>
              <dxi-validation-rule type="required" message="Você não informou o nome a data de nascimento"></dxi-validation-rule>
              <dxi-validation-rule type="range" [max]="dadosTela.dataMinimaNascimento" message="Sua idade deve ser, no mínimo, de {{dadosTela.idadeMinima}} anos"></dxi-validation-rule>
            </dx-validator>
          </dx-date-box>
          <label>{{"(" + dadosTela.idade + " anos)"}}</label>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <label class="label_campos" fxFlex="106px">Sexo:</label>
          <dx-radio-group [items]="dadosTela.Sexos"
                          [(value)]="this.dadosTela.sexoEscolhido"
                          layout="horizontal"
                          [disabled]="naoEhIncompleta">
            <dx-validator>
              <dxi-validation-rule type="required" message="Você não escolheu o sexo."></dxi-validation-rule>
            </dx-validator>
          </dx-radio-group>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px" fxLayoutGap.xs="5px">
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
          <label class="label_campos" fxFlex="106px">E-mail:</label>
          <dx-text-box [(value)]="dadosTela.email" fxFlex="60" [disabled]="naoEhIncompleta" [maxLength]="100">
            <dx-validator>
              <dxi-validation-rule type="required" message="Você não informou o e-mail."></dxi-validation-rule>
              <dxi-validation-rule type="email" message="Você informou um email que não é válido"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
          <div class="label_campos" fxFlex="106px"></div>
          <div>
            Você precisa informar um e-mail válido, pois para ele será enviado informações sobre o evento, bem como o código para permitir acesso ao andamento e alterações na sua inscrição.
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
        <label class="label_campos" fxFlex="106px">Cidade/UF:</label>
        <dx-text-box [(value)]="dadosTela.cidade" fxFlex="80" [disabled]="naoEhIncompleta" [maxLength]="100">
          <dx-validator>
            <dxi-validation-rule type="required" message="Você não informou a Cidade."></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
        <dx-select-box [dataSource]="dadosTela.EstadosFederacao"
                       [searchMode]="'contains'"
                       [searchTimeout]="200"
                       [minSearchLength]="0"
                       [searchEnabled]="true"
                       [(value)]="dadosTela.uf"
                       fxFlex="20"
                       [disabled]="naoEhIncompleta">
          <dx-validator>
            <dxi-validation-rule type="required" message="Você não informou a UF."></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
      <div fxLayout="column" fxLayoutGap="5px" fxLayoutGap.xs="5px">
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
          <label class="label_campos" fxFlex="106px">Celular:</label>
          <dx-text-box [(value)]="dadosTela.celular" fxFlex="60" [disabled]="naoEhIncompleta" [maxLength]="15">
          </dx-text-box>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center" *ngIf="evento.PermiteEscolhaDormirEvento">
        <div fxFlex="106px"></div>
        <dx-check-box [(value)]="dadosTela.dormiraEvento" text="Dormirá no encontro?" [disabled]="naoEhIncompleta">
        </dx-check-box>
      </div>
    </div>
  </dx-validation-group>
  <mat-divider></mat-divider>
  <div class="margem-5px" fxFlex="100" fxLayout="column" fxLayoutGap="5px">
    <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
      <div fxFlex="106px"></div>
      <dx-check-box [(value)]="dadosTela.ehVegetariano" text="É Vegetariano?" [disabled]="naoEhIncompleta"></dx-check-box>
      <dx-check-box [(value)]="dadosTela.usaAdocanteDiariamente" text="Usa adoçante diariamente?" [disabled]="naoEhIncompleta"></dx-check-box>
      <dx-check-box [(value)]="dadosTela.ehDiabetico" text="É diabético?" [disabled]="naoEhIncompleta"></dx-check-box>
    </div>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
      <label class="label_campos" fxFlex="106px">Alimentos que você tem alergia:</label>
      <dx-text-box [(value)]="dadosTela.alimentosAlergia" fxFlex="100" [disabled]="naoEhIncompleta" [maxLength]="100">
      </dx-text-box>
    </div>
  </div>
  <mat-divider></mat-divider>
  <dx-validation-group id="grupoValidacaoEspirita" name="grupoValidacaoEspirita" #grupoValidacaoEspirita fxLayout="row" fxLayoutGap="5px" fxFill fxLayoutAlign="center start">
    <div class="margem-5px" fxFlex="100" fxLayout="column" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
        <label class="label_campos" fxFlex="106px">Centro Espírita:</label>
        <dx-text-box [(value)]="dadosTela.centroEspirita" fxFlex="100" [disabled]="naoEhIncompleta" [maxLength]="300">
          <dx-validator>
            <dxi-validation-rule type="required" message="Você não informou o Centro Espírita que frequenta."></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
  </dx-validation-group>
</ng-template>
<ng-template #participacaoAtividades>
  <mat-tab-group fxFill>
    <mat-tab label="Oficinas" *ngIf="evento.ConfiguracaoOficinas != null && dadosTela.tipoInscricaoEscolhida && dadosTela.tipoInscricaoEscolhida != dadosTela.TiposInscricao[2]">
      <comp-oficinas [desabilitar]="naoEhIncompleta" [oficinas]="evento.Oficinas" [forma]="dadosTela.formaEscolha" [configuracao]="evento.ConfiguracaoOficinas" [(escolhido)]="dadosTela.oficinasEscolhidas"></comp-oficinas>
    </mat-tab>
    <mat-tab label="Estudo" *ngIf="evento.ConfiguracaoSalaEstudo != null && dadosTela.tipoInscricaoEscolhida && dadosTela.tipoInscricaoEscolhida != dadosTela.TiposInscricao[2]">
      <comp-salas [desabilitar]="naoEhIncompleta" [salas]="evento.SalasEstudo" [forma]="dadosTela.formaEscolha" [configuracaoSala]="evento.ConfiguracaoSalaEstudo" [(escolhido)]="dadosTela.salasEscolhidas" style="width: 100%"></comp-salas>
    </mat-tab>
    <mat-tab label="Departamentos" *ngIf="evento.TemDepartamentalizacao && dadosTela.tipoInscricaoEscolhida && dadosTela.tipoInscricaoEscolhida != dadosTela.TiposInscricao[2]">
      <comp-departamentos [desabilitar]="naoEhIncompleta" [departamentos]="evento.Departamentos" [forma]="dadosTela.formaEscolha" [(valor)]="dadosTela.departamentoEscolhido"></comp-departamentos>
    </mat-tab>
    <mat-tab label="Sarau" *ngIf="evento.ConfiguracaoTempoSarauMin != null" style="padding: 5px">
      <comp-sarau [desabilitar]="naoEhIncompleta" [(valor)]="dadosTela.sarais" [inscrito]="dadosTela.inscricaoSimples"></comp-sarau>
    </mat-tab>
  </mat-tab-group>
</ng-template>
<ng-template #pagamentos>
  <comp-pagamento [(valor)]="dadosTela.pagamento"
                  [valorInscricao]="evento.ValorInscricaoAdulto"
                  [desabilitar]="naoEhIncompleta"></comp-pagamento>
</ng-template>
<ng-template #outrasInformacoes>
  <p>Você trará colchão de solteiro ou casal? Se for de casal dividirá com quem?</p>
  <p>Ou nos fale de alguma outra informação que você ache pertinente e não encontrou lugar na inscrição. Este campo esta aberto para podermos te ouvir!</p>
  <dx-text-area [height]="180"
                [(value)]="dadosTela.observacoes"
                [disabled]="naoEhIncompleta">
  </dx-text-area>
</ng-template>
