<layout-geral>
  <mat-toolbar layout-geral-cabecalho color="primary">
    <span class="fas fa-users" style="margin-right:10px"></span>
    <span class="cursor-pointer sistema">Seleção de inscrições</span>
    <span style="flex: 1 1 auto;"></span>
    <dx-radio-group [items]="filtros"
                    [(value)]="filtroEscolhido"
                    layout="horizontal"
                    ngClass="rd-filtro"
                    style="margin-right: 5px">
    </dx-radio-group>
  </mat-toolbar>
  <div fxFill fxLayout="column" fxLayoutAlign="center center" *ngIf="inscricoes == null || inscricoes.length == 0">
    <span class="fa fa-plus fa-5x"></span>
    <h1>Não há nenhuma inscrição aqui para o filtro escolhido!!</h1>
  </div>
  <dx-data-grid *ngIf="inscricoes != null && inscricoes.length > 0" style="padding-top: 5px"
                fxFill
                id="gridContainer"
                [showBorders]="true"
                [dataSource]="inscricoes"
                [hoverStateEnabled]="true"
                [columnResizingMode]="'nextColumn'"
                [allowColumnResizing]="true">
    <dxo-search-panel [visible]="true"
                      [width]="300"
                      placeholder="Pesquisar..."></dxo-search-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxi-column dataField="IdInscricao" caption="" cellTemplate="templateCelulaId" [width]="100" alignment="left" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="NomeInscrito" caption="Nome"></dxi-column>
    <dxi-column dataField="DataNascimento" caption="Nascimento" [width]="120"></dxi-column>
    <dxi-column dataField="Cidade" caption="Cidade/UF" cellTemplate="templateCidade" [width]="160"></dxi-column>
    <dxi-column dataField="Situacao" caption="Situacao" cellTemplate="templateCelulaSituacao" alignment="left" [width]="100"></dxi-column>
    <dxi-column dataField="Tipo" caption="Tipo" [width]="200"></dxi-column>

    <div *dxTemplate="let data of 'templateCelulaId'">
      <button mat-icon-button (click)="clicarSelecionado(data.data)" matTooltip="Retorna a inscrição selecionada"><i class="far fa-hand-pointer"></i></button>
    </div>
    <div *dxTemplate="let data of 'templateCidade'">
      {{data.data.Cidade + "/" + data.data.UF}}
    </div>
    <div *dxTemplate="let data of 'templateCelulaSituacao'">
      {{obterTextoSituacao(data.data.Situacao)}}
    </div>

    <dxo-summary>
      <dxi-total-item column="IdInscricao"
                      summaryType="count"
                      displayFormat="{0} Inscrições">
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>

</layout-geral>
