<layout-geral>
  <mat-toolbar layout-geral-cabecalho color="primary">
    <button mat-icon-button (click)="clicarVoltar()">
      <i class="fas fa-arrow-left"></i>
    </button>
    <span class="fas fa-users" style="margin-right:10px"></span>
    <span>Manutenção de Inscrição Infantil</span>
    <span style="flex: 1 1 auto;"></span>
    <button type="button" mat-button (click)="clicarAceitar()" *ngIf="inscricaoCompleta.Situacao == 1">
      Aceitar
    </button>
    <button type="button" mat-button (click)="clicarRejeitar()" style="margin-left: 5px" *ngIf="inscricaoCompleta.Situacao == 1">
      Rejeitar
    </button>
    <button type="button" mat-button (click)="clicarAtualizar()" style="margin-left: 5px" *ngIf="inscricaoCompleta.Situacao == 2 || inscricaoCompleta.Situacao == 3">
      Atualizar
    </button>
  </mat-toolbar>
  <comp-form-inscricao-infantil #formInscricao [inscricao]="inscricao" [evento]="evento" [naoEhIncompleta]="naoEhIncompleta" fxFill></comp-form-inscricao-infantil>  
</layout-geral>
