<layout-geral>
  <mat-toolbar layout-geral-cabecalho color="primary">
    <div fxLayout="column" class="sistema">
      <span>Inscrições</span>
      <span class="versao">Versão: 1.0.0</span>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <a mat-raised-button [routerLink]="'/pesquisar'">Acompanhar Inscrição</a>
  </mat-toolbar>
  <div *ngIf="eventos == null || eventos.length == 0" fxLayout="row" fxLayoutGap="5px" fxFill fxLayoutAlign="center center">
    <div fxLayout="column" class="margem-5px" fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayoutAlign="start center">
      <i class="fas fa-bullhorn fa-7x"></i>
      <div>
        Não há eventos disponíveis hoje.
      </div>
    </div>
  </div>
  <div *ngIf="eventos.length > 0" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="5px" fxLayoutGap="5px" class="margem-5px" fxLayoutAlign="center center">
    <div fxFlex="20" fxFlex.lt-lg="30" fxFlex.xs="100" fxLayout="column" class="cartao" *ngFor="let evento of eventos" style="height: 390px">
      <img [src]="obterImagem(evento)" alt="Imagem do evento">
      <h2>{{evento.Nome}}</h2>
      <h3>
        Inscrições: {{evento.PeriodoInscricao.DataInicial | date:'shortDate'}} à {{evento.PeriodoInscricao.DataFinal | date:'shortDate'}}
      </h3>
      <h3>
        Realização: {{evento.PeriodoRealizacao.DataInicial | date:'shortDate'}} à {{evento.PeriodoRealizacao.DataFinal | date:'shortDate'}}
      </h3>
      <mat-divider></mat-divider>
      <a mat-raised-button color="primary" [routerLink]="'/comecar/' + evento.Id">INSCREVER-SE</a>
    </div>
  </div>
</layout-geral>
