<layout-geral>
  <mat-toolbar *ngIf="style==1" color="primary" class="mat-elevation-z2" layout-geral-cabecalho>
    {{title}}
  </mat-toolbar>
  <div fxLayout="row" fxLayoutGap="5px" layout-conteudo>
    <div>
      <div class="message">
        <p [innerHTML]="message">
        </p>
      </div>
      <div class="info" *ngIf="information!==''">
        <p>{{information}}</p>
      </div>
    </div>
  </div>
  <div style="padding: 5px; display: flex; justify-content: flex-end" layout-geral-rodape>
    <div *ngIf="button==0" fxLayout="row" fxLayoutGap="5px">
      <button mat-stroked-button (click)="onOk()" cdkFocusInitial>OK</button>
    </div>
    <div *ngIf="button==1" fxLayout="row" fxLayoutGap="5px">
      <button mat-stroked-button (click)="onOk()" cdkFocusInitial>OK</button>
      <button mat-stroked-button (click)="onCancel()">CANCELAR</button>
    </div>
    <div *ngIf="button==2" fxLayout="row" fxLayoutGap="5px">
      <button mat-stroked-button (click)="onYes()" cdkFocusInitial>SIM</button>
      <button mat-stroked-button (click)="onNo()">NÃO</button>
    </div>
    <div *ngIf="button==3" fxLayout="row" fxLayoutGap="5px">
      <button mat-stroked-button (click)="onAccept()" cdkFocusInitial>ACEITAR</button>
      <button mat-stroked-button (click)="onReject()">REJEITAR</button>
    </div>
  </div>
</layout-geral>
